<?xml version="1.0" encoding="UTF-8"?>                                                                                                                                                                             
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>  
      <key>assets</key>
      <array>   
        <dict>      
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <!-- CHANGEME on next line -->
          <string>https://hollr2099.net/ipas/2600.emu%20v1.5.29.ipa</string>
        </dict>     
      </array>  
      <key>metadata</key>
      <dict>    
        <key>bundle-identifier</key>
        <!-- CHANGEME on next line -->
        <string>com.hollr2099.emu</string>
        <key>bundle-version</key>
        <string>10.0</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <!-- CHANGEME on next line -->
        <string>2600.emu</string>
      </dict>   
    </dict> 
  </array>
</dict>
</plist>
