<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"

"http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

   <!-- array of downloads. -->

   <key>items</key>

   <array>

       <dict>

           <!-- an array of assets to download -->

           <key>assets</key>

           <array>

               <!-- software-package: the ipa to install. -->

               <dict>

                   <!-- required.  the asset kind. -->

                   <key>kind</key>

                   <string>software-package</string>

                  
                   <!-- required.  the URL of the file to download. -->

                   <key>url</key>

                   <string>https://www.dropbox.com/s/zy5916go871nuy6/Don%27t%20Starve%20Shipwrecked%20Hack%201.4.ipa?dl=0</string>

               </dict>

               

           </array><key>metadata</key>

           <dict>

               <!-- required -->

               <key>bundle-identifier</key>

               <string>com.Kleientertainment.dontstarveshipwrecked</string>

               <!-- optional (software only) -->

               <key>bundle-version</key>

               <string>1.4</string>

               <!-- required.  the download kind. -->

               <key>kind</key>

               <string>software</string>

               <!-- optional. displayed during download; -->

               <!-- typically company name -->

               <key>subtitle</key>

               <string>Apple</string>

               <!-- required.  the title to display during the download. -->

               <key>title</key>

               <string>Dont Starve Ship Wrecked</string>

           </dict>

       </dict>

   </array>

</dict>

</plist>